<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <%= stylesheet_link_tag 'common' %>

    <% if @title %>
    <title><%=h @title %></title>
    <% else %>
    <title><%=h Settings.project_name %></title>
    <% end %>
</head>

<body class="plain">
  <%= @content_for_layout %>
</body>
</html>