<html>
<head>
</head>

<body>
<h1>Sensory Schools Network</h1>
<p>This project visulises the experience of young people on their journey to school. By sharing and analysing this information we can create better, safer and healthier cities for everyone</p>
<%= @content_for_layout %>
<p>A collaboration between the artist Christian Nold &amp; Sustrans the sustainable transport charity</p>
</body>
</html>
