<h2>Settings</h2>
<p>Please be very careful when changing these. It's quite easy to leave the site completely non-functional!</p>

<% @settings = Settings %>

<table class="admin">
  <thead>
    <tr>
      <th>Setting</th>
      <th>Default</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <% [{:id => :home_location_lat, :name => "Home Location Latitude"},
        {:id => :home_location_lon, :name => "Home Location Longitude"},
        {:id => :home_location_zoom, :name => "Home Location Zoom"},
        {:id => :max_markers, :name => "Max number of markers shown"},
        {:id => :max_traces, :name => "Max number of traces shown"},
        {:id => :max_trace_points_summary, :name => "Max number of points shown in a trace"},
        {:id => :max_waypoints_summary, :name => "Max number of waypoints shown in a trace"},
        {:id => :gps_not_before, :name => "Don't store trace points before the hour of:"},
        {:id => :gps_not_after, :name => "Don't store trace points after the hour of:"},
        {:id => :dp_threshold, :name => "Simplify traces to this many degrees:"},
        {:id => :user_password, :name => "User password"},
        {:id => :admin_password, :name => "Admin password"},
        {:id => :location_text, :name => "Refer to locations as (e.g. 'school')"},
        {:id => :project_name, :name => "Name of the project"}
        ].each do |entry| %>
    <tr>
      <td><%= entry[:name] %></td>
      <td><%=h Settings.defaults[entry[:id]] %></td>
      <td><a id="edit_setting_<%= entry[:id] %>" class="external_control">¤</a><%= in_place_editor_field :settings, entry[:id], {},  {:url => {:controller => :settings, :action => "set_#{entry[:id]}"}, :external_control => "edit_setting_#{entry[:id]}"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>