      <ul id="tabnav">
        <li><%= link_to 'All', {:controller => :site, :action => controller.action_name}, {:class => (mode ? 'inactive' : 'active')} %></li>
        <% modes.each do |m| %>
          <li><%= link_to m.name, {:controller => :site, :action => controller.action_name, :mode => m.id}, {:class => (mode && m.id == mode.id ? 'active' : 'inactive')} %></li>
        <% end %>
      </ul>