<p>Sensory Journeys is a project by the artist Christian Nold, commissioned by Sustrans the sustainable transport charity. Sustrans’ vision is a world in which people choose to travel in ways that benefit their health and the environment.</p>

<p>This 1 year project involved Christian Nold working closely with 4 schools in Bristol and Sustrans Bike It team to set up a series of creative in school workshops. The concept is that people have different types of experiences and relationships with their surroundings depending on their mode of travel. The aim was to investigate the varying sensory experiences that young people have on their journey to school via different forms of transport such as walking, cycling, public transport or being driven to school. The project was based on creating an innovative toolkit of performative activities, technologies and visualisations. By heightening people’s awareness on their travels and documenting and reflecting on them with each other we can create a better environment for everyone.</p>

<p>Concept &amp; Design: Christian Nold<br />
<%= link_to 'www.softhook.com', 'http://www.softhook.com' %></p>

<p>Web Programming: Andy Allan<br />
<%= link_to 'www.gravitystorm.co.uk', 'http://www.gravitystorm.co.uk' %></p>

<p>Map Data: OpenStreetMap Creative Commons Attribution-Share Alike Licence
<%= link_to 'www.openstreetmap.org', 'http://www.openstreetmap.org' %></p>

<p>To find out more about Sustrans visit: <%= link_to 'www.sustrans.org.uk', 'http://www.sustrans.org.uk' %></p>

