<div>
  <ul id="tabnav">
    <li><a href="#" class="active">All</a></li>
    <li><a href="#">Car</a></li>
    <li><a href="#">Walking</a></li>
    <li><a href="#">Cycling</a></li>
    <li><a href="#">Public Transport</a></li>
  </ul>
</div>
<div id="map"></div>
<p>
<% @schools.each do |school| %>
<%= school.name %>
<% end %>
</p>
