<div>
  <ul id="tabnav">
    <li><a href="#" class="active">All</a></li>
    <li><a href="#">Car</a></li>
    <li><a href="#">Walking</a></li>
    <li><a href="#">Cycling</a></li>
    <li><a href="#">Public Transport</a></li>
  </ul>
</div>

<div>
  <div id="map"></div>
  <div id="sidebar">
    <p>Zoom to a school:</p>
    <ul>
      <% @schools.each do |school| %>
        <li><a href="#" onclick="map.setCenter(lonLatToMercator(new OpenLayers.LonLat(<%= school.lon %>,<%= school.lat %>)));map.zoomTo(17);"><%= school.name %></a></li>
      <% end %>
    </ul>
    <%= link_to 'Login', :controller => :site, :action => :login %>
  </div>
</div>